.clr {
  clear: both;
}
.fixed-top {
  border-bottom: 1px solid #ccc;
}
.navbar .navbar-menu-wrapper {
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -ms-transition: width 0.25s ease;
  color: #8e94a9;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100%);
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #f8f8f8;
}
.top-part {
  min-height: 50px;
  background: #3b3784;
  margin: 61px 0 0 0;
}
.page-body-wrapper {
  min-height: calc(100vh);
  width: calc(100%);
}
.center {
  /*max-width: 1280px; width: 95%;*/
  width: calc(99% - 180px);
  margin: 0 auto;
}
.left-part-top {
  width: 50%;
  float: left;
}
.left-part-top ul li {
  float: left;
  list-style: none;
  line-height: 35px;
  padding: 0 20px;
}
.left-part-top ul li:hover {
  background: #e1c400;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.left-part-top ul li:hover a {
  color: #000;
}
.left-part-top ul li a {
  color: #fff;
  text-decoration: none;
}
.left-part-top ul li.active {
  background: #e1c400;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.left-part-top ul li.active a {
  color: #000;
}
.left-part-top ul {
  padding: 0px;
  margin: 0px;
}
.right-part-top {
  width: 50%;
  float: right;
  max-width: 400px;
}
.right-part-top ul {
  padding: 0px;
  margin: 0px;
}
.right-part-top ul li {
  float: left;
  text-align: right;
  list-style: none;
  padding: 0 15px;
  line-height: 37px;
}
.right-part-top ul li a {
  color: #fff;
  padding: 0 0px;
  text-decoration: none;
  cursor: pointer;
  line-height: 50px;
}
.right-part-top ul li a:before {
  content: "|";
  display: inline-block;
  color: #fff;
  padding: 0 10px;
}
.right-part-top ul li a:nth-child(1):before {
  content: "";
  display: inline-block;
  color: #fff;
  padding: 0 0px;
}
.right-part-top ul li a:hover {
  color: #e1c400;
}
.right-part-top ul li p {
  padding: 0px;
  margin: 0px;
  color: #fff;
  font-style: italic;
  line-height: 50px;
  display: inline-block;
  vertical-align: top;
}
.right-part-top .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}
.right-part-top .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.right-part-top .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.right-part-top .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: 2px;
  background-color: #3b3784;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.right-part-top input:checked + .slider {
  background-color: #e1c400;
}
.right-part-top input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.right-part-top input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.right-part-top .slider.round {
  border-radius: 34px;
}
.right-part-top .slider.round:before {
  border-radius: 50%;
}
.right-part-top label {
  display: inline-block;
  margin: 14px 10px;
}

.right-part-top ul li.save {
  float: left;
  text-align: center;
  background: #e1c400;
  line-height: 26px;
  border-radius: 5px;
  margin: 12px 0;
}
.right-part-top ul li.save:hover {
  color: #000;
  background: #209a08;
}
.right-part-top ul li.save a {
  color: #fff;
  padding: 0 0px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 26px;
}
.left-form ul {
  min-height: 14px;
  padding: 0px;
}
.left-form ul li {
  display: inline-block;
  list-style: none;
  padding: 0px 15px 0 0;
  margin: 0px;
  text-decoration: none;
  position: relative;
  line-height: 30px;
}
.left-form ul li a {
  color: #6b6b6b;
  text-decoration: none;
}
.left-form ul li a:hover {
  color: #3b3784;
  text-decoration: none;
  border-bottom: 2px solid #e1c400;
  padding: 0 0 5px 0;
}
.left-form ul li a.active {
  color: #3b3784;
  border-bottom: 2px solid #e1c400;
  padding: 0 0 5px 0;
}
.left-form ul li:after {
  content: "|";
  display: inline-block;
  position: absolute;
  right: 7px;
  top: 0px;
  color: #6b6b6b;
}
.left-form ul li:last-child:after {
  content: "";
  display: inline-block;
}
.left-form {
  width: 28%;
  float: left;
  margin: 0 20px 0 0px;
}
.form-center {
  width: 66%;
  float: left;
  margin: 32px 0 0 0;
  border: 1px solid #c3c3c3;
  min-height: 500px;
  border-radius: 5px;
  padding: 40px;
  min-width: 730px;
}
.content-wrapper {
  background: #fff;
  padding: 2.5rem 2.25rem;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.form-control {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.21);
  padding: 30px 18px;
}
.form-control ul li {
  width: 45%;
  padding: 2px 8px;
  border: 1px solid #dfdfdf;
  margin: 5px;
  display: inline-block;
}
.form-control ul li:after {
  display: none;
}
.content-wrapper .left-form ul {
  padding: 0px;
  margin: 0px;
}
.form-control ul li i {
  padding: 0 5px 0 0;
}

.content-wrapper .left-form .form-control div.form-element {
  width: 45%;
  padding: 10px 8px;
  border: 1px solid #dfdfdf !important;
  margin: 5px;
  display: inline-block;
}
.content-wrapper .left-form .form-control div.form-element:hover {
  background: #f1f1f1;
}
.content-wrapper .left-form .form-control div.form-element:after {
  display: none;
}
.content-wrapper .left-form div.form-element {
  padding: 0px;
  margin: 0px;
}
.form-control div.form-element div i {
  padding: 0 5px 0 0;
}

.page-body-wrapper {
  margin: 0 0 0 0%;
}

.fixed-top {
  position: fixed;
  left: 0px;
  right: 0px;
  width: auto;
}
.form-drop {
  /* width: 67%; */
  float: left;
  /* margin: 32px 0 0 0; */
  /* border: 1px solid #c3c3c3; */
  /* min-height: 500px; */
  /* border-radius: 5px; */
  /* padding: 40px; */
}
.form-center input[type="text"] {
  border: 1px solid #ccc;
  padding: 7px;
  margin: 10px 10px 10px 0;
}
.form-center input[type="password"] {
  border: 1px solid #ccc;
  padding: 7px;
  margin: 10px 10px 10px 0;
}
.form-center input[type="number"] {
  border: 1px solid #ccc;
  padding: 7px;
  margin: 10px 10px 10px 0;
}
.form-center input[type="date"] {
  border: 1px solid #ccc;
  padding: 7px;
  margin: 10px 10px 10px 0;
}
.parttwo {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 0;
  width: 47%;
}
.parttwo input[type="checkbox"] {
  display: inline-block;
}
.parttwo span {
  display: inline-block;
}

.form-center label {
  display: block;
  padding: 0 0 0px 0;
}
.form-center h2 {
  padding: 0 0 15px 0;
}
.form-over {
  position: relative;
  border: 1px solid #fff;
  padding: 10px;
}
.form-over:hover {
  border: 1px solid #52d4e8;
  padding: 10px;
  border-radius: 5px;
}
.delete {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 70px;
}
.settings {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 40px;
}
.parttwo i {
  font-size: 12px;
}
.partone {
  display: block;
  vertical-align: top;
  margin: 0 10px 0 0;
  width: 96%;
}
.partone i {
  font-size: 12px;
}
.form-center select {
  border: 1px solid #ccc;
  padding: 7px;
  margin: 10px 10px 10px 0;
  width: 100%;
}
.form-center textarea {
  border: 1px solid #ccc;
  padding: 7px;
  margin: 10px 10px 10px 0;
  width: 100%;
}

.form-over @media screen and (max-width: 600px) {
  .template-table table {
    width: 370px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
