.clr{ clear: both;}
.fixed-top {border-bottom: 1px solid #ccc;}
.formbuilder{padding: 0px; margin: 0px; display: block;}
.formbuilder h2{ font-size: 42px; color: #000; font-weight: 300; text-align: center; text-align: center; padding: 35px 0 5px 0;}
.formbuilder p{ font-size: 14px; color: #000; font-weight: 400; text-align: center; text-align: center;}
.formbuilder ul{ margin: 0 auto; text-align: center;}
.formbuilder ul li{ list-style: none;}
.template{}
.template ul{ margin: 55px 0;}
.template ul li{ display: inline-block; width: 279px; min-height: 375px; margin: 20px 20px; background: #fff; border: 1px solid #c9c9c9; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33); border-radius: 5px; vertical-align: top;}
.template ul li:hover{-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.43); -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.43); box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.43);}
.template ul li aside img{ border-radius: 5px 5px 0 0;}
.template ul li a{ text-decoration: inherit;}
.template ul li article{ padding: 10px;}
.template ul li article h2{ font-size: 25px;}
.template ul li article p{ color: #5F5F5F; font-size: 14px;}

.template ul li i{ font-size: 120px; padding: 70px 0 20px 0; text-align: center; color: #939393; font-weight: 300;}
.template ul li h3{ font-size: 18px; color: #000; line-height: 25px; font-weight: 600;}
.template ul li h3 span{ font-size: 22px; color: #000; line-height: 25px; font-weight: 300; display: block;}
.sort-by{ float: right; margin: 15px 0;}
.sort-by aside{ display: inline-block; text-transform: uppercase; width: 80px;}
.sort-by select{ display: inline-block;  width: 180px; padding: 5px; border: 1px solid #ccc; color: #7d7d7d;}
.template-table{ margin: 30px 0; display: block;}
.template-table .table{ border: 1px solid #c3c3c3;}
.template-table .table thead{ background: #c3c3c3;}
.det-box{ border: 1px solid #c9c9c9; min-height: 70px; margin: 15px 0;}
.template-table .det-box aside{ display: inline-block; width: 4%; border-right: 1px solid #c3c3c3;min-height: 70px; vertical-align: top;}
.template-table .det-box aside input[type="checkbox"]{ margin: 30px 20px;}
.template-table .det-box article{ display: inline-block; width: 75%; text-align: left; padding: 10px;}
.template-table .det-box article h4 { text-align: left; font-size: 20px; line-height: 20px; padding: 5px 0 0 0;    font-weight: 300;}
.template-table .det-box article p { text-align: left; font-size: 14px; color: #636363; line-height: 16px; padding: 0px; margin: 0px;}
.template-table .det-box article p span {color: #f00c0c;}
.template-table .det-box ul{ display: inline-block; width: 15%; padding: 0px; margin: 25px 0 0 0px; vertical-align: top;}
.template-table .det-box ul li { display: inline-block; width: auto; min-height: inherit; margin: 0px; background: none; border: none; box-shadow: initial; border-radius: 0; vertical-align: middle;}
.template-table .det-box ul li:nth-child(1) a{ color: #fff; background: #3b3784; padding: 5px 15px; border-radius: 25px;}
.template-table .det-box ul li:hover:nth-child(1) a {background: #ffa800;}
.template-table .det-box ul li:nth-child(2) a{ color: #fff; background: #ffa800; padding: 5px 15px; border-radius: 25px;}
.template-table .det-box ul li:hover:nth-child(2) a{ background: #3b3784;}

@media screen and (max-width:600px) {
	.template-table table {width: 370px; display: block; overflow-x: auto; white-space: nowrap;}
}